@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
body {
  font-family: 'Oswald', sans-serif; }
  body .grid-container {
    display: grid;
    grid-template-columns: 2fr 2fr; }
  body nav {
    background-color: #3fac10;
    height: 3.5rem;
    box-shadow: 0.5rem 0.5rem 0.5rem; }
    body nav ul {
      margin-right: 2rem;
      display: flex;
      list-style-type: none;
      justify-content: space-between; }
      body nav ul li a {
        color: #fff;
        text-decoration: none; }
        body nav ul li a:hover {
          border-bottom: 3px solid #fff;
          color: #fff;
          transition: 0.1s all ease-in-out; }
